:root {
  --clr-neutral-white: rgb(255, 255, 255);
  --clr-main-blue: rgb(36, 37, 130);
  --clr-secondary-blue: rgb(47, 47, 161);
  --clr-secondary-main-brown: rgb(86, 61, 103);
  --clr-secondary-off-brown: rgb(153, 114, 141);
  --clr-compliment-red: rgb(246, 76, 113);

  --ff-primary: "Monaco", monospace;
  --ff-accent: "Andale Mono", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* layout */

/* 1.1.main-layout */

body,
html,
.layout-container,
.header-container,
.content-container {
  margin: 0;
  display: grid;
  font-family: var(--ff-accent);
  background-color: var(--clr-main-blue);
}

.layout-container {
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 2fr 8fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-main-blue);
}

/* 1.2.header-layout */

.header-container {
  background-color: var(--clr-neutral-white);
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
  border: none;
}

.inside-header-container-top {
  background-color: var(--clr-main-blue);
}
.inside-header-container-bot {
  background-color: var(--clr-main-blue);
  padding-left: 10px;
  padding-bottom: 10px;
}



/* 1.3.sidebar-layout */
.sidebar-container {
  grid-row: 1 / 3;
  margin-right: 15rem;
  background-color: var(--clr-main-blue);
}

.fixed-sidebar-container {
  position: fixed;
}
/* 1.4.content-layout */

.content-container {
  grid-template-columns: 4fr 1fr;
  border-radius: 1rem;
  background-color: var(--clr-secondary-blue);
  color: var(--clr-neutral-white);
}

/* Elements */

/* 2.1.header-elements */

.inside-header-container-top {
  display: grid;
  grid-template-columns: 10fr 6fr;
  color: var(--clr-neutral-white);
}

input {
  border: none;
  background-color: var(--clr-compliment-red);
}

.alert-usericon-name-container,
.search-input-container {
  align-self: center;
}

.search-input-container {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.alert-usericon-name-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 5rem;
}

.icon-alert-user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-icon,
.notification-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.input {
  border-radius: 1rem;
}

.notification-icon {
  align-self: center;
  justify-self: end;
  margin: 1rem;
}

.search-icon-button {
  background: none;
  border: none;
}

.person-profile-icon {
  height: 50px;
  width: 50px;
  align-self: center;
  justify-self: start;
  background-color: var(--clr-compliment-red);
  border-radius: 2rem;
  padding: 0.2rem;
  cursor: pointer;
}

.user-name {
  display: inline;
  align-self: center;
  justify-self: start;
  font-weight: 900;
  font-size: 2rem;
  margin: 0 0 0 1rem;
  text-decoration: underline var(--clr-compliment-red);
}

.inside-header-container-bot {
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  color: var(--clr-neutral-white);
}

.introduction-text-container {
  align-self: center;
  justify-self: start;
  margin-left: 1rem;
}

.introduction-text-container > p {
  font-weight: 400;
}

.introduction-text-container > p,
h2 {
  margin: 0 0 5px 0;
}

.person-profile-big {
  height: 80px;
  width: 80px;
  align-self: center;
  justify-self: center;
  background-color: var(--clr-compliment-red);
  border-radius: 3rem;
  padding: 0.2rem;
  cursor: pointer;
}

.button-container-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-self: center;
  justify-self: center;
}

.button-container-head > button {
  height: 2.5rem;
  width: 9rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px 1px var(--clr-compliment-red);
  background-color: var(--clr-compliment-red);
  color: var(--clr-neutral-white);
}

/* 2.2.sidebar-elements */

.h1-container,
.menu-container,
.menu-setting-container {
  color: var(--clr-neutral-white);
}

.menu-container,
.menu-setting-container {
  padding: 5%;
  font-size: 1.3rem;
}

.h1-container {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-h1 {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.sidebar-icon {
  height: 4rem;
  width: 4rem;
}

.sidebar-href-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 2%;
}

div > ul a {
  text-decoration: none;
  color: inherit;
}

ul > div > img {
  height: 25px;
  width: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.3rem;
}

/* 2.3.content-elements */

.inside-content-container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-cards {
  border: var(--clr-compliment-red) solid 3px;
  border-radius: 1rem;
  border-left: 9px solid var(--clr-compliment-red);
  margin: 2rem;
  padding: 3rem;
}

.project-cards > h3 {
  text-align: center;
}

.project-cards > p {
  border-top: 1px solid var(--clr-neutral-white);
  border-bottom: 1px solid var(--clr-neutral-white);
  margin: 1rem;
  padding: 1rem;
}

.card-icon-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-icon-container > img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.inside-content-container-side {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
  margin-right: 2rem;
  gap: 1rem;
}

.side-card1,
.side-card2 {
  border: var(--clr-compliment-red) solid 2px;
  border-radius: 1rem;
  margin: 0 1rem 0 1rem;
  height: fit-content;
}

.trending-user-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  align-self: center;
  justify-self: center;
  border-bottom: 1px solid var(--clr-compliment-red);
  border-width: 5px;
  margin: 1rem;
}

.trending-user-info-container {
  display: grid;
  align-self: center;
  justify-self: center;
}

.trending-user-info-container > p,
h5 {
  margin: 0;
}

.side-card-content-container {
  padding: 1rem;
  border-bottom: 1px solid var(--clr-compliment-red);
  border-width: 5px;
  margin: 1.5rem;
}

.side-card-content-container > h4 {
  color: var(--clr-compliment-red);
  margin-bottom: 0;
  text-align: center;
}

.side-card-content-container > p {
  margin-top: 5px;
  text-align: center;
}

.trending-user-container > img {
  height: 50px;
  width: 50px;
  align-self: center;
  justify-self: start;
  background-color: var(--clr-compliment-red);
  border-radius: 2rem;
  padding: 0.2rem;
}

.trending-user-info-container > h5 {
  color: var(--clr-compliment-red);
}

.trending-user-info-container > p {
  margin-top: 5px;
}

.titles-of-content {
  font-size: 2rem;
  margin: 2rem 0 0 0;
  text-align: center;
}

.titles-of-content-side {
  margin: 3rem 0 0.5rem 0;
  font-size: 1.3rem;
  text-align: center;
}

img.user-1,
img.user-2,
img.user-3,
img.user-4 {
  margin-right: 10px;
}

img.user-2 {
  background-color: yellow;
}

img.user-3 {
  background-color: greenyellow;
}

img.user-4 {
  background-color: purple;
}

/* 3.Pseudo-elements */

.sidebar-href-container:hover {
  background-color: var(--clr-compliment-red);
}

.button-container-head > :hover {
  background-color: yellow;
  border: yellow;
  box-shadow: 0px 0px 15px 1px yellow;
  color: var(--clr-main-blue);
}

.button-container-head > button:active {
  background-color: yellow;
  border: yellow;
  box-shadow: 0px 0px 0px 0px yellow;
  color: var(--clr-main-blue);
}
